@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --blue-link: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--grey-900);
  color: var(--white);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  padding-inline: 1.5rem;
}

.card {
  width: min(100%, 21.875rem);
  padding-block: 2rem;
  padding-inline: 1.3rem;
  text-align: center;
  background-color: var(--grey-800);
  border-radius: 0.75rem;
}

.card__image {
  width: 5rem;
  border-radius: 50%;
}

.card__name {
  margin-block-start: 1rem;
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--white);
}

.card__address {
  margin-block: 0.6rem;
  color: var(--green);
  font-size: 0.75rem;
  font-weight: 600;
}

.card__description {
  margin-block-start: 1.8rem;
  margin-block-end: 1rem;
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 400;
}

.card__list {
  display: grid;
  gap: 1rem;
  list-style: none;
}

.card__link {
  display: block;
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 0.625rem;
  background-color: var(--grey-700);
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.card__link:hover,
.card__link:focus-visible {
  background-color: var(--green);
  color: var(--grey-900);
  outline: none;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: var(--white);
}

.attribution a {
  color: var(--blue-link);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
